@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}

#navbar{
  background-color:white;
  height:20vh;
  padding:10px;
  display:flex;
  justify-content: center;
}

#navbar img{
  cursor: pointer;
  user-select:none;
}

.letter{
  font-size: 80px;
  color: white;

  background-color: darkcyan;
  width:fit-content;
  height:fit-content;
  padding:0px 40px 20px;
  margin:20px;
  border-radius:30px;

  user-select:none;

  position: absolute;

  cursor: pointer;

  z-index:1;
}

#cntMenu {
  display:flex;
  justify-content: center;

  height:70vh;
}

#cntMenu img {
  height:10vw;
  width:10vw;
  padding-bottom:15px;
}

h1 {
  font-size: 150px;
}