@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body{
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  overflow: hidden;
  user-select: none;
  margin: 0;
}

#navbar{
  height:20vh;
  padding:10px;
  display:flex;
  justify-content: center;
  user-select:none;
}

#navbar img{
  cursor: pointer;
  user-select:none;
}

.letter{
  font-size: 80px;
  color: white;

  font-family: 'Poppins', sans-serif;
  background-color: darkcyan;
  width:fit-content;
  height:fit-content;
  padding:0px 40px 20px;
  margin:20px;
  border-radius:30px;

  user-select:none;
  position: absolute;
  cursor: pointer;

  z-index:1;
}

.cntMenu {
  width:60vw;
  height:80vh;
  position:absolute;
  top:10vh;
  left:20vw;

  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-weight: bold;
}

.head{
  font-size: 15vw;
}

.sub{
  font-size: 4vw;
  cursor:pointer;
  font-weight:normal;
  text-align: center;
}

@media only screen and (max-height: 950px) {
  .head{
    font-size: 12.5vh;
  }

  #frontPage .head{
    font-size: 9vw;
  }
}

.cursor {
  position: absolute;
  z-index: -1;
  background-color: red;
  opacity: 0;
	width: 8vw; 
	height: 8vw; 
  border-radius: 50%;
}

.bgCircle {
  width:6vw;
  height:6vw;
  background-color: rgb(139, 153, 231);
  background-color: rgb(187, 139, 231);
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  z-index: -35;
}

#btnPause{
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  display:none;
}

#timer{
  position: absolute;
  top: 2%;
  left: 2%;
}

.overlay{
  background: rgba(0, 0, 0, 0.2);
  opacity:0.5;
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
  left:0;
  display: none;
}

.menu{
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top:20%;
  left:0;
  width:100%;
  height:60%;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#switchContainer{
  width: 8vw;
  height: 9vh;
}

#switchContainer label{
  width: 100%;
  height: 90%;
}

#menuOptions{
  width: 20vw;
  display:flex;
  justify-content: space-around;
  font-size: 4vh;
  cursor:pointer;
}

/* -------------------- Buttons -------------------- */
.btnContainer{
  position: absolute;
  top:1.5vw;
  left:3vw;
  width:7vw;
  height:20vh;
  overflow: hidden;
}

body[data-theme=dark] {
  background: #5A5966;
  color: white;
}

body[data-theme=dark] #scaleCont div{
  border-color: white;
}

body[data-theme=dark] #scaleSelect{
  background: #366;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 100%;
  height: 35%;
  background: #0A0F3A;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  position: relative;
}

#bgLabel{
  background: #75DA6E;
}

label:after {
  content: "";
  background: #fff;
  width: 30%;
  height: 60%;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 10%;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

input:checked + label {
  background: #BDC1E1;
}

#bgSwitch:checked + label {
  background: #FC7777;
}

input:checked + label:after {
  left: 90%;
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

#rays{
  position: relative;
  background: #E5DEC4;
  top: 0%;
  left: -15%;
  height: 30%;
  width: 15%;
  border-radius: 50%;
}

#sun{
  position: relative;
  background: #FFF1B0;
  top: 12.5%;
  left: 12.5%;
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

#moon{
  position: relative;
  top: -8%;
  left: 15%;
  height: 30%;
  width: 15%;
  border-radius: 50%;
  box-shadow: 0.5vh 0.5vh 0 0 white;
}

/* Size Scale */

#scaleCont {
  height: 4vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scaleOut {
  width: 100%;
  height: 100%;
  border: solid black 0.5vw;
  border-top: 0;
}

#scaleMid {
  width: 50%;
  height: 40%;
  border: solid black 0.5vw;
  border-top: 0;
  border-bottom: 0;
  position: relative;
  top: 61%;
  left: 24.1%;
}

#scaleIn {
  width: 10%;
  height: 80%;
  border-left: solid black 0.5vw;
  position: relative;
  top: -13%;
  left: 49.1%;
}

#scaleSelect {
  background: #CFF;
  border: solid black 0.4vw;
  border-radius: 50%;
  position: relative;
  height: 2vh;
  width: 2vh;
  top: -50%;
  left: 47%;
  cursor: pointer;
  user-select: none;
  z-index: 50;
}

#switchWrap {
  height: 6vh;
  width: 40vw;
  display:flex;
  justify-content: space-around;
  font-size:2vw;
  line-height: 1vh;
}

#letterSizeTxt{
  font-size: 3vh;
  height: 14vh;
  text-align: center;
}