@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

body{
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  overflow: hidden;
}

#navbar{
  background-color:white;
  height:20vh;
  padding:10px;
  display:flex;
  justify-content: center;
}

#navbar img{
  cursor: pointer;
  user-select:none;
}

.letter{
  font-size: 80px;
  color: white;

  background-color: darkcyan;
  width:fit-content;
  height:fit-content;
  padding:0px 40px 20px;
  margin:20px;
  border-radius:30px;

  user-select:none;

  position: absolute;

  cursor: pointer;

  z-index:1;
}

#cntMenu img {
  height:9vw;
  width:9vw;
  padding-bottom:15px;
}

.head {
  font-size: 115px;
}

table {
  display:flex;
  justify-content: center;
}